*{
    box-sizing: border-box;
}

#head::first-letter{
    font-size: 2em;
    font-style: italic;
}

body {
    margin: 0px;
    /* background-image: url(images/6.png); */
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

header{
    display: block;    
}

nav ul{
    overflow: hidden;
    list-style: none;
    background-color: rgb(61, 60, 60);
}

.fa-twitter{
    /* font-size: 30px; */
    padding: 5px;
    color: hsl(193, 80%, 61%);
}
.fa-twitter:hover{    
    color: hsl(193, 80%, 75%);
}
.fa-house{
    /* font-size: 30px; */
    padding: 5px;
    color: hsl(180, 1%, 23%);
}
.fa-house:hover{    
    color: hsl(180, 1%, 43%);
}
.page{
    float: left;
    padding: 7px 12px;
}
li a{
    text-decoration: none;
    color: aliceblue;    
}
li a:hover{
    font-weight: bold;
}

nav ul li:hover{
    background-color: black;
}

.dropdown{
    display: inline-block;
    padding: 10px;
}
.dropdown button{
    min-width: 75px;
    padding: 5px 10px;
    cursor: pointer;
    border: none;
    box-shadow: 2px 2px 5px;
    color: blueviolet;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}
.dropdown button:hover{
    background-color: hsl(0, 22%, 87%);
}
.dropdown:hover .content{
    display: block;
}
.dropdown a:hover{
    background-color: hsl(0, 22%, 87%);
}
.dropdown .content{
    background-color: white;
    display: none;
    padding: 5px;
    position: absolute; 
    box-shadow: 2px 2px 5px;
}
/* aside ul{
    margin: 0;
    padding: 0;
} */
.dropdown a{
    display: block;
    padding: 5px 10px;
    text-decoration: none;
}
#lorem::first-line{
    background-color: hsl(189, 67%, 56%);
}
#fruits li:nth-child(odd){
    background-color: antiquewhite;
}

#fruits li::marker{
    content: "✔️";
}
#orange::after{
    content: "🍊";
}
#apple::after{
    content: "🍎";
}
#mango::after{
    content: "🥭";
}
#strawberry::after{
    content: "🍓";
}
#banana::after{
    content: "🍌";
}
#melon::after{
    content: "🍉";
}
#carrot::after{
    content: "🥕";
}
#cucunba::after{
    content: "🥒";
}
#cherry::after{
    content: "🍒";
}
#grapes::after{
    content: "🍇";
}

.pagination{
    text-align: center;
}

.pagination a{
    text-decoration: none;
    padding: 5px 8px;
    color: black;
    font-weight: bold;
    border-radius: 5px;
}

.pagination a.active{
    background-color: hsl(149, 86%, 51%);
}

.pagination a:hover:not(.active){
    background-color: hsla(0, 11%, 85%, 0.856);
}

aside{
    width: 20%;
    float: left;
    padding: 10px;
}

section{
    width: 40%;
    float: left;
    padding: 10px;
}

article{
    width: 40%;
    float: left;
    padding: 10px;
}

footer {
    display: block;
    clear: both;
    padding: 25px;
}

footer h2{
    text-align: center;
}

@media screen and (max-width:600px){
    aside, section, article{
        width: 100%;
    }    
}
.row{
    padding: 5px;
}
.fruit{
    padding: 10px;
    /* background-color: hsl(100, 65%, 74%); */
    border: 1px solid;
    /* height: 200px; */
    width: 25%;
    text-align: center; 
    box-shadow: 2px 2px 5px;   
}

@media screen and (max-width:600px){
    .fruit{
        width: 50%;
    }    
}
.fruit.row1{
    display: inline-block;
}
.fruit.row2{
    display: inline-block;
}
.description{
    text-align: center;    
}

.container{
    display: flex;
    flex-direction: row;
    width: 60%;
    height: auto;
    border: 2px solid black;
    margin: 20px;
    flex-wrap: wrap; 
    background-color: dodgerblue;

}
.box{
    border: 3px solid black;
    border-radius: 10px;
    width: 30%;
    height: 40px;
    margin: 5px;  
    text-align: center; 
    font-size: 20px;
}

#box1{
    background-color: #f1f1f1;    
}
#box2{
    background-color: hsla(195, 75%, 60%, 0.977);    
}
#box3{
    background-color: hsl(122, 76%, 52%);    
}
#box4{
    background-color: hsl(59, 85%, 57%);    
}
#box5{
    background-color: hsl(301, 79%, 54%);    
}
#box6{
    background-color: hsl(0, 4%, 51%);    
}


